<h1>new Author</h1>
<form action="/authors" method='POST'>
    <label>Name</label><br>
    <input type="text" name="name"value="<%- author.name %>"/><br><br>
    <!-- Anchor tag is used to link things & button is to interact with form or other Objects -->
    <a href='/authors'>CANCEL</a> 
    <button  type="submit">CREATE</button>
</form>